# author: steeve laquitaine
# usage: 
#   pip install -r src/requirements.txt

# conda installed
tensorflow==2.6.0           # ~500 MB
matplotlib==3.3.4
ipykernel==6.4.1
pyyaml==5.4.1
jinja2==3.0.1               # web page templating
python-multipart==0.0.5

# pip installed
black==21.5b2
pylint
fastapi==0.70.0

uvicorn[standard]==0.15.0
pyngrok==5.1.0
nest-asyncio==1.5.1
protobuf==3.18.1
